$gris: rgb(246, 246, 246);

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
body{
    #app{
        position: absolute;
        #topBar{
            display: flex;
            width: 100vw;
            height: 45px;
            justify-content: flex-start;
            align-items: center;
            position: sticky;
            top: 0;
            z-index: 100;
            background: #fff;
            #logo{
                position: relative;
                display: flex;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background: #fff;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: $gris;
                }
                img{
                    position: absolute;
                    width: 16px;
                    height: 16px;
                }
            }
            #home{
                position: relative;
                display: flex;
                width: 55px;
                height: 35px;
                border-radius: 20px;
                background: #000;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 70%;
                &:hover{
                    cursor: pointer;
                }
            }
            #today{
                position: relative;
                display: flex;
                width: 45px;
                height: 35px;
                border-radius: 20px;
                background: #fff;
                justify-content: center;
                align-items: center;
                color: #000;
                font-size: 70%;
                &:hover{
                    cursor: pointer;
                    background: $gris;
                }
            }
            #following{
                position: relative;
                display: flex;
                width: 75px;
                height: 35px;
                border-radius: 20px;
                background: #fff;
                justify-content: center;
                align-items: center;
                color: #000;
                font-size: 70%;
                &:hover{
                    cursor: pointer;
                    background: $gris;
                }
            }
            #search{
                position: relative;
                display: flex;
                width: 67vw;
                height: 35px;
                border-radius: 20px;
                background: $gris;
                justify-content: flex-start;
                align-items: center;
                input{
                    font-size: 80%;
                    border-radius: 20px;
                    height: 100%;
                    width: 95%;
                    background: $gris;
                }
                img{
                    margin: 2%;
                    width: 10px;
                    height: 10px;
                }
                &:hover{
                    cursor: text;
                    background: rgb(235, 235, 235);
                    input{
                        background: rgb(235, 235, 235);
                    }
                }
            }
            #notif{
                margin-left: 5px;
                position: relative;
                display: flex;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background: #fff;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: $gris;
                }
                img{
                    position: absolute;
                    width: 60%;
                    height: 60%;
                }
            }
            #msg{
                position: relative;
                display: flex;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background: #fff;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: $gris;
                }
                img{
                    position: absolute;
                    width: 16px;
                    height: 16px;
                }
            }
            #profile{
                position: relative;
                display: flex;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background: #fff;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: $gris;
                }
                img{
                    position: absolute;
                    width: 16px;
                    height: 16px;
                }
            }
            #extra{
                position: relative;
                display: flex;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background: #fff;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: $gris;
                }
                img{
                    position: absolute;
                    width: 10px;
                    height: 10px;
                }
            }
            #plus{
                display: none;
            }
        }
        #topMobile{display: none;}
        .contentWrapper{
            .container{
                width: 100vw;
                columns: 6;
                column-gap: 5px;
                .box{
                    display: flex;
                    position: relative;
                    width: 100%;
                    margin: 0 0 20px;
                    padding: 5px;
                    background: #fff;
                    overflow: hidden;
                    break-inside: avoid;
                    justify-content: flex-end;
                    align-items: center;
                    &:hover{
                        cursor: zoom-in;
                        .save{
                            display: flex;
                        }
                        .options{
                            display: flex;
                        }
                        .share{
                            display: flex;
                        }
                    }
                    img{
                        max-width: 100%;
                        border-radius: 20px;
                    }
                    .save{
                        font-size: 60%;
                        display: none;
                        position: absolute;
                        width: 48px;
                        height: 30px;
                        border-radius: 15px;
                        background: red;
                        top: 15px;
                        right: 15px;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        &:hover{
                            cursor: pointer;
                            background: rgb(197, 25, 25);
                        }
                    }
                    .share{
                        opacity: 0.9;
                        display: none;
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        align-self: flex-end;
                        background: #fff;
                        border-radius: 100%;
                        align-items: center;
                        justify-content: center;
                        bottom: 20px;
                        right: 50px;
                        &:hover{
                            opacity: 1;
                            cursor: pointer;
                        }
                        img{
                            width: 60%;
                            height: 60%;
                            border-radius: 0;
                        }
                    }
                    .options{
                        opacity: 0.9;
                        display: none;
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        align-self: flex-end;
                        background: #fff;
                        border-radius: 100%;
                        align-items: center;
                        justify-content: center;
                        bottom: 20px;
                        right: 20px;
                        &:hover{
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                    
                }
            }
        }
        #botBar{display: none;}
    }
}

@media (max-width: 1000px){
    body{
        #app{
            .contentWrapper{
                .container{
                    columns: 4; 
                }
            }
        }
    }
}

@media (max-width: 750px){
    body{
        #app{
            .contentWrapper{
                .container{
                    columns: 3; 
                }
            }
        }
    }
}

@media (max-width: 375px){
    body{
        #app{
            #topBar{display: none;}
            #topMobile{
                position: sticky;
                top: 0;
                z-index: 100;
                background: #fff;
                height: 20vh;
                display: flex;
                align-items: flex-start;
                flex-flow: row wrap;
                #searchM{
                    display: flex;
                    align-items: center;
                    width: 78vw;
                    height: 40px;
                    margin: 15px 15px 5px 15px;
                    border-radius: 10px;
                    font-size: 120%;
                    background: $gris;
                    input{
                        font-size: 80%;
                        border-radius: 20px;
                        background: $gris;
                    }
                    img{
                        margin: 2%;
                        width: 20px;
                        height: 20px;
                    }
                }
                #plus{
                    display: flex;
                    margin-top: 23px;
                    width: 25px;
                    height: 25px;
                }
                #homeM{
                    margin: 0 15px 0 15px;
                    position: relative;
                    display: flex;
                    width: 75px;
                    height: 40px;
                    border-radius: 20px;
                    background: #000;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 95%;
                }
                #todayM{
                    position: relative;
                    display: flex;
                    width: 45px;
                    height: 40px;
                    border-radius: 20px;
                    background: #fff;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                    font-size: 95%;
                }
            }
            .contentWrapper{
                .container{
                    columns: 2; 
                }
            }
            #botBar{
                display: flex;
                position: sticky;
                bottom: 0;
                z-index: 999;
                background: #fff;
                width: 100vw;
                height: 8vh;
                opacity: 0.95;
                justify-content: space-around;
                align-items: center;
                #inicio,#siguiendo{
                    width: 8vh;
                    height: 8vh;
                    img{
                        width: 8vh;
                        height: 8vh;
                    }
                }
                #notf,#guardado{
                    width: 8vh;
                    height: 8vh;
                    display: flex;
                    align-items: center;
                    img{
                        width: 5vh;
                        height: 5vh;
                    }
                }
            }
        }
    }
}

