* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

body #app {
  position: absolute;
}
body #app #topBar {
  display: flex;
  width: 100vw;
  height: 45px;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
}
body #app #topBar #logo {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
}
body #app #topBar #logo:hover {
  background: #f6f6f6;
}
body #app #topBar #logo img {
  position: absolute;
  width: 16px;
  height: 16px;
}
body #app #topBar #home {
  position: relative;
  display: flex;
  width: 55px;
  height: 35px;
  border-radius: 20px;
  background: #000;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 70%;
}
body #app #topBar #home:hover {
  cursor: pointer;
}
body #app #topBar #today {
  position: relative;
  display: flex;
  width: 45px;
  height: 35px;
  border-radius: 20px;
  background: #fff;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 70%;
}
body #app #topBar #today:hover {
  cursor: pointer;
  background: #f6f6f6;
}
body #app #topBar #following {
  position: relative;
  display: flex;
  width: 75px;
  height: 35px;
  border-radius: 20px;
  background: #fff;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 70%;
}
body #app #topBar #following:hover {
  cursor: pointer;
  background: #f6f6f6;
}
body #app #topBar #search {
  position: relative;
  display: flex;
  width: 67vw;
  height: 35px;
  border-radius: 20px;
  background: #f6f6f6;
  justify-content: flex-start;
  align-items: center;
}
body #app #topBar #search input {
  font-size: 80%;
  border-radius: 20px;
  height: 100%;
  width: 95%;
  background: #f6f6f6;
}
body #app #topBar #search img {
  margin: 2%;
  width: 10px;
  height: 10px;
}
body #app #topBar #search:hover {
  cursor: text;
  background: #ebebeb;
}
body #app #topBar #search:hover input {
  background: #ebebeb;
}
body #app #topBar #notif {
  margin-left: 5px;
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
}
body #app #topBar #notif:hover {
  background: #f6f6f6;
}
body #app #topBar #notif img {
  position: absolute;
  width: 60%;
  height: 60%;
}
body #app #topBar #msg {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
}
body #app #topBar #msg:hover {
  background: #f6f6f6;
}
body #app #topBar #msg img {
  position: absolute;
  width: 16px;
  height: 16px;
}
body #app #topBar #profile {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
}
body #app #topBar #profile:hover {
  background: #f6f6f6;
}
body #app #topBar #profile img {
  position: absolute;
  width: 16px;
  height: 16px;
}
body #app #topBar #extra {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
}
body #app #topBar #extra:hover {
  background: #f6f6f6;
}
body #app #topBar #extra img {
  position: absolute;
  width: 10px;
  height: 10px;
}
body #app #topBar #plus {
  display: none;
}
body #app #topMobile {
  display: none;
}
body #app .contentWrapper .container {
  width: 100vw;
  columns: 6;
  column-gap: 5px;
}
body #app .contentWrapper .container .box {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  padding: 5px;
  background: #fff;
  overflow: hidden;
  break-inside: avoid;
  justify-content: flex-end;
  align-items: center;
}
body #app .contentWrapper .container .box:hover {
  cursor: zoom-in;
}
body #app .contentWrapper .container .box:hover .save {
  display: flex;
}
body #app .contentWrapper .container .box:hover .options {
  display: flex;
}
body #app .contentWrapper .container .box:hover .share {
  display: flex;
}
body #app .contentWrapper .container .box img {
  max-width: 100%;
  border-radius: 20px;
}
body #app .contentWrapper .container .box .save {
  font-size: 60%;
  display: none;
  position: absolute;
  width: 48px;
  height: 30px;
  border-radius: 15px;
  background: red;
  top: 15px;
  right: 15px;
  align-items: center;
  justify-content: center;
  color: #fff;
}
body #app .contentWrapper .container .box .save:hover {
  cursor: pointer;
  background: #c51919;
}
body #app .contentWrapper .container .box .share {
  opacity: 0.9;
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  align-self: flex-end;
  background: #fff;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 50px;
}
body #app .contentWrapper .container .box .share:hover {
  opacity: 1;
  cursor: pointer;
}
body #app .contentWrapper .container .box .share img {
  width: 60%;
  height: 60%;
  border-radius: 0;
}
body #app .contentWrapper .container .box .options {
  opacity: 0.9;
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  align-self: flex-end;
  background: #fff;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 20px;
}
body #app .contentWrapper .container .box .options:hover {
  opacity: 1;
  cursor: pointer;
}
body #app #botBar {
  display: none;
}

@media (max-width: 1000px) {
  body #app .contentWrapper .container {
    columns: 4;
  }
}
@media (max-width: 750px) {
  body #app .contentWrapper .container {
    columns: 3;
  }
}
@media (max-width: 375px) {
  body #app #topBar {
    display: none;
  }
  body #app #topMobile {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
    height: 20vh;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  body #app #topMobile #searchM {
    display: flex;
    align-items: center;
    width: 78vw;
    height: 40px;
    margin: 15px 15px 5px 15px;
    border-radius: 10px;
    font-size: 120%;
    background: #f6f6f6;
  }
  body #app #topMobile #searchM input {
    font-size: 80%;
    border-radius: 20px;
    background: #f6f6f6;
  }
  body #app #topMobile #searchM img {
    margin: 2%;
    width: 20px;
    height: 20px;
  }
  body #app #topMobile #plus {
    display: flex;
    margin-top: 23px;
    width: 25px;
    height: 25px;
  }
  body #app #topMobile #homeM {
    margin: 0 15px 0 15px;
    position: relative;
    display: flex;
    width: 75px;
    height: 40px;
    border-radius: 20px;
    background: #000;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 95%;
  }
  body #app #topMobile #todayM {
    position: relative;
    display: flex;
    width: 45px;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 95%;
  }
  body #app .contentWrapper .container {
    columns: 2;
  }
  body #app #botBar {
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 999;
    background: #fff;
    width: 100vw;
    height: 8vh;
    opacity: 0.95;
    justify-content: space-around;
    align-items: center;
  }
  body #app #botBar #inicio, body #app #botBar #siguiendo {
    width: 8vh;
    height: 8vh;
  }
  body #app #botBar #inicio img, body #app #botBar #siguiendo img {
    width: 8vh;
    height: 8vh;
  }
  body #app #botBar #notf, body #app #botBar #guardado {
    width: 8vh;
    height: 8vh;
    display: flex;
    align-items: center;
  }
  body #app #botBar #notf img, body #app #botBar #guardado img {
    width: 5vh;
    height: 5vh;
  }
}

/*# sourceMappingURL=main.css.map */
